---
---
<div
		class="hero min-h-screen"
		style="background-image: url('/assets/winstub.png');"
>
	<div class="hero-overlay"></div>
	<div class="hero-content text-neutral-content text-center">
		<div class="max-w-md">
			<h1 class="mb-5 text-5xl font-bold">Strasbourg 1920</h1>
			<p class="mb-5">
				Exploration du boire à Strasbourg en 1920 par les cartes
			</p>
			<div class="">
				<a class="btn btn-primary" href="/carte">Voir la carte</a>
				<a class="btn btn-primary" href="/a-propos">À propos</a>
			</div>

		</div>
	</div>
</div>